body {
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.2;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

@media (max-width: 767px) {
  .hide-in-mobile {
    display: none;
  }
}

.taptap {
  margin-top: 90px;
  margin-bottom: 90px;
}

.taptap .el-message {
  transform: translate(-50%, 100px) !important;
}

.skill-bg-opacity .el-form-item__content {
  display: flex;
  flex-wrap: nowrap;
  gap: 3px;
}

.skill-bg-opacity .el-form-item__label {
  max-width: 5em;
  line-height: 1.1;
}

.form-section .el-card__footer .el-space__item {
  white-space: nowrap;
}

.form-section .el-card__footer .el-space {
  flex-wrap: wrap;
}
