body {
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.2;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.skill-desc .clubs {
  color: rgb(73, 132, 73);
}

.skill-desc .spades {
  color: rgb(70, 92, 155);
}

.skill-desc .hearts {
  color: rgb(166, 76, 70);
}

.skill-desc .diams {
  color: rgb(195, 160, 90);
}

.skill-desc .orange {
  color: rgb(227, 175, 71);
}

.skill-desc .yellow {
  color: rgb(216, 206, 129);
}

.skill-desc .green {
  color: rgb(161, 203, 145);
}